.App {
  text-align: center;
}
.Header {
  border-style: solid;
  margin-right: 40%;
  margin-left: 40%;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

.TaskBox {
  border-style: solid;
  margin-bottom: 15px;
  border-radius: 25px;
}
.row {
  margin-bottom: 15px;
}

.completetrue {
  background: #00ff00;
}
.completefalse {
  background: #Fdbecf;
}



button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .5em;
  letter-spacing: 1px;
  height: 22px;
  width: 120px;
  overflow: hidden;
  background: #4dbecf;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(black,.1);
  border: 0;
  cursor: pointer;
  transition: all .3s ease;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}